.card.home {
  display: flex;
  flex-direction: row;

  * {
    width: 240px;
  }

  &.input {
    input {
      width: 160px;
    }
  }
}

.card.play {
  font-size: 30px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  .japanese {
    margin-top: 20px;
  }
}
