html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  width: 100%;
}

// Make the width/height of an element represent the border+padding+content
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
